---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Categories from "../components/Categories.astro";
import CardList from "../components/CardList.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Writing for Developers">
	<Header />
	<hr />
	<main class="main">
		<Categories />
		<CardList />
	</main>
	<hr />
	<Footer />
</Layout>

<style>
	hr {
		border-color: var(--hr-color);
	}
</style>
