---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Filter from '../components/Categories.astro';
import CardList from '../components/CardList.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Writing for Developers">
	<main class="main">
		<Header/>
		<hr>
		<Filter/>
		<CardList/>
		<hr>
		<Footer/>		
	</main>
</Layout>

<style>
	.main{
		margin: 0 auto;
		max-width: 1400px;
	}
	hr{
		border-color: var(--hr-color);
	}
</style>
