---
const CATEGORIES = [
  {
    title: 'All',
    id: 0,
  },
  {
    title: 'JavaScript',
    id: 1,
  },
  {
    title: 'DevOps',
    id: 2,
  },
  {
    title: 'Cloud',
    id: 3,
  },
  {
    title: 'Terraform',
    id: 4,
  },
  {
    title: 'Architecture',
    id: 5,
  },
  {
    title: 'Scalability',
    id: 6,
  },
  {
    title: 'Explainers',
    id: 7,
  },
];
---

<ul id="articles" class="categories">
  {
    CATEGORIES.map((category) => {
      return (
        <li>
          <button class="category-button" data-category={category.title}>
            {category.title}
          </button>
        </li>
      )
    })
  }
</ul>
<style>
  .categories {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
    max-width: 1230px;
    overflow: auto;
  }
  .category-button {
    font-family: "Recursive", sans-serif;
    color: var(--category-color);
    font-style: italic;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .category-button:hover {
    color: var(--title-color);
  }
  @media (max-width: 1229px) {
    ul {
      flex-wrap: wrap;
      margin: 20px 20px;
    }
  }
  @media (max-width: 639px) {
    ul {
      font-size: 1.4rem;
    }
  }
</style>
