---
import Logo from "../components/logo/Logo.astro";
---

<div class="hero">
  <Logo />
  <h1 class="title">Writings for Developers</h1>
  <p class="subtitle">Curated collection of articles for busy developers</p>
</div>
<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px auto;
    text-align: center;
  }
  .title {
    font-family: "Recursive", sans-serif;
    font-style: italic;
    color: var(--title-color);
    font-weight: 100;
    font-size: 4rem;
    margin: 25px auto;
  }
  .subtitle {
    font-size: 1.6rem;
  }
  @media (max-width: 639px) {
    .title {
      font-size: 3rem;
    }
    .subtitle {
      font-size: 1rem;
    }
  }
</style>
