---
import Logo from "../components/logo/Logo.astro"
---
<div class="hero">
  <Logo/>
  <h1 class="title">Writings for Developers</h1>
  <h2 class="subtitle">Curated collection of articles for busy developers</h2>
</div>
<style>
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    font-style: italic;
    color: var(--redish-color);
  }
</style>