<nav>
  <a href="#"><h1>writings.dev</h1></a>
  
  <ul>
    <li><a href="#">categories</a></li>
    <li><a href="#">articles</a></li>
    <li><a href="#">about</a></li>
  </ul>
</nav>
<style>
  a {
    color: var(--white-color);
    text-decoration: none;
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
